.services {
  padding: 2rem 1rem;
  background-color: #3c6a79;
  color: #fff;
  width: 100%;
  text-align: center;
  z-index: 1;
  box-shadow:
    0px -1px 10px 0px #000000c8,
    0px 1px 10px 0px #000000c8;
}

.services h1 {
  padding: 1rem 0rem;
}

.servicesContent {
  display: flex;
  justify-content: center;
}

.servicesContent h3 {
  padding: 0.5rem;
}

.solution {
  margin: 1rem 1rem;
  padding: 1rem;
  text-align: center;
  max-width: 400px;
  border-radius: 1rem;
  background-color: #051d22;
}

.solution i {
  color: #cfc6bb;
}

.beige {
  color: #cfc6bb;
}

.included {
  padding: 1rem;
}

.included li {
  text-align: left;
  padding-top: 0.5rem;
}

/* Button */
.ctas {
  display: flex;
  justify-content: center;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background-color: #cfc6bb;
  color: #051d22;
  border: var(--foreground);
  gap: 8px;
  margin: 1rem;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background-color: #051d22;
    color: #cfc6bb;
    border: 1px solid #cfc6bb;
  }
}

@media (max-width: 600px) {
  .servicesContent {
    flex-direction: column;
    text-align: center;
  }
}