.main {
  padding: 2rem;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: #e8e4e4;
}

.text {
  font-size: 1.2rem;
  color: #666;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.establish {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.establishText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 407px;
}

.establishImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.grow {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.growText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 407px;
}

.growImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.expand {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.expandText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.expandImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 407px;
}

.buttonContainer {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
    --button-primary-hover: #3b6a78;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {

  .establish,
  .grow,
  .expand {
    padding: 1rem 0;
    max-width: 100%;
  }

  .establishText,
  .growText,
  .expandText {
    padding: 1rem 1rem 0 0;
  }

  .establishImage,
  .growImage,
  .expandImage {
    padding: 1rem 0;
  }

  .logo {
    width: 100px;
    height: 150px;
  }
}