:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-rubik: 'Rubik', serif;
  --font-montseraat: 'Montserrat', serif;
}

/*
Color Palette
#ffffff
#cf0119
#000
https://coolors.co/assets/img/logo.svg
*/

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Apply Rubik Bold to all headers */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-rubik);
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Apply Montserrat to all other text */
body,
p,
span,
li,
a,
input,
textarea,
button {
  font-family: var(--font-montserrat);
  font-weight: 400;
  line-height: 1.6;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}