.heroArea {
  background-color: #051D22;
  height: 500px;
  color: #CFC6BB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.company {
  color: #051D22;
  padding: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.founder {
  background-color: #3C6A79;
  color: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.companyText,
.founderText {
  width: 50%;
}

.companyImage,
.founderImage {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background-color: #3C6A79;
  color: #fff;
  border: var(--foreground);
  gap: 8px;
}

@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .company {
    text-align: center;
  }

  .founder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .founderText {
    width: 100%;
    text-align: center;
  }

  .companyImage,
  .founderImage {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background-color: #051D22;
    color: #CFC6BB;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}