:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pressura: 'GT Pressura Bold', serif;
}

/*
Color Palette
#CFC6BB beigeish
#051D22 
#3C6A79
#FFFFFF 
#E2E3E2 grayish
https://coolors.co/assets/img/logo.svg
*/

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-pressura), serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}