.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #051D22;
  --button-secondary-hover: #3C6A79;

  min-height: 100vh;
  width: 100%;
}


@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #3C6A79;
    --button-secondary-hover: #051D22;
    padding-top: 64px;
    /* match navbar height */
  }
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
}

.intro {
  display: flex;
  width: 100%;
}

.introLeft {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.introRight {
  height: 700px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  color: #ffffff;
  background-color: #051D22;
}

.introText {
  padding: 1rem;
  max-width: 700px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.weDo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  max-width: 700px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.weDo p {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.features {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.feature {
  margin: 1rem;
  padding: .25rem;
  border-radius: 1rem;
  background-color: #CFC6BB;
  color: #051D22;
}

.bullet {
  list-style: none;
  text-decoration: underline;
}

.support {
  list-style: none;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #3C6A79;
  color: #fff;
  width: 100%;
  text-align: center;
}

.services h1 {
  text-decoration: underline;
}

.servicesContent {
  display: flex;
  justify-content: center;
}

.servicesContent h3 {
  padding: .5rem;
}

.establishText,
.growText,
.expandText {
  padding: 1rem;
  text-align: center;
  max-width: 400px;
}

.ctas {
  display: flex;
  /* gap: 16px; */
  justify-content: center;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background-color: #CFC6BB;
  color: #051D22;
  border: var(--foreground);
  gap: 8px;
  margin: 1rem;
}

a.secondary {
  background-color: #051D22;
  color: #CFC6BB;
  border: var(--foreground);
  gap: 8px;
  margin: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #051D22;
  color: #fff;
  width: 100%;
}

.contact h2 {
  margin-bottom: 1rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background-color: #051D22;
    color: #CFC6BB;
    border: 1px solid #CFC6BB;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    background-color: #CFC6BB;
    color: #051D22;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 1250px) {
  .weDo {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .intro {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .intro {
    flex-direction: column;
  }

  .introLeft {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .introRight {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    align-items: unset;
    height: auto;
  }

  .contact {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .servicesContent {
    flex-direction: column;
    text-align: center;
  }

}

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
} */