@media (prefers-color-scheme: dark) {
  .page {
    padding-top: 64px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
}

/* Buttons */
.ctas {
  display: flex;
  justify-content: center;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background-color: #cfc6bb;
  color: #051d22;
  border: var(--foreground);
  gap: 8px;
  margin: 1rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background-color: #051d22;
    color: #cfc6bb;
    border: 1px solid #cfc6bb;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }
}
